svg{
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar-thumb{
  border-radius: 10px;
}

.dark{
  #md-editor-rt{
    background-color: #27272a !important;
  }

  .md-input-wrapper,
  .md-toolbar{
    color:#999;
  }
}
